= form_for @hour do |f|
  - if @hour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hour.errors.count, "error")} prohibited this hour from being saved:"
      %ul
        - @hour.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :course_id, value: course.id
  = f.hidden_field :teaching_assistant_id, value: @teaching_assistant.id
  = f.hidden_field :num, value: course.credit_hours
  .actions
    = f.submit 'RSVP Yes'
