- course.teaching_assistants.each do |ta|
  %ul.inline
    %li
      = link_to icon_delete + ' Delete', { controller: :hours, action: :destroy, id: course.hour_for(ta) }, method: :delete, title: "Remove TA from course (will also remove hours from credit balance)", class: "badge warning side_margin"
      - if ta.is_ta_for?(course)
        = link_to icon_book + ' Use hours', { controller: :hours, action: :update, id: course.hour_for(ta), hour: { num: -course.credit_hours } }, method: :put, title: "Change TA to student", class: "badge warning right_margin"
      - else
        = link_to icon_history + ' Make TA', { controller: :hours, action: :update, id: course.hour_for(ta), hour: { num: course.credit_hours } }, method: :put, title: "Change student to TA", class: "badge approved right_margin"
      = ta.name
      (
      = ta.signed_up_for(course)
      )