%h3 Attendance Management

%p The system only shows single day classes and workshops that have concluded in the past month. To view additional courses, you will need to log in to the console.

= render partial: 'shared/symbols'

.line__secondary

%h4 Recently concluded single day workshops

- @courses.each do |course|
  %span.float_right= link_to icon_add + ' Add a Teaching Assistant or Student', new_hour_path, class: "badge approved"
  %h5
    = course.name
    = link_to icon_link_out, course_path(course), class: 'side_margin'
    = link_to icon_edit, edit_course_path(course)
  %table
    %tr
      %th Date & Time
      %th Hours
      %th Teaching Assistants
    %tr
      %td
        = course.pretty_date_short
        %br
        = course.pretty_time
      %td= course.credit_hours
      %td= render partial: "ta_list", locals: { course: course }
  .line__secondary


%h4 Recently concluded multi-day workshops

- @series.each do |series|
  %h5
    = series.name
    = link_to icon_link_out, series_path(series), class: 'side_margin'
    = link_to icon_edit, edit_series_path(series)
  - series.courses.each do |course|
    %table
      %tr
        %th
          = course.pretty_date
          = link_to icon_link_out, course_path(course), class: 'side_margin'
          = link_to icon_edit, edit_course_path(course)
          = link_to icon_add + ' Add a Teaching Assistant or Student', new_hour_path, class: "badge approved left_margin"
      %tr
        %table
          %tr
            %th Time
            %th Hours
            %th Teaching Assistants
          %tr
            %td= course.pretty_time
            %td= course.credit_hours
            %td= render partial: "ta_list", locals: { course: course }
    %p
