%h1 Listing hours

%table
  %tr
    %th Course
    %th Teaching assistant
    %th Num
    %th
    %th
    %th

  - @hours.each do |hour|
    %tr
      %td= hour.course_id
      %td= hour.teaching_assistant_id
      %td= hour.num
      %td= link_to 'Show', hour
      %td= link_to 'Edit', edit_hour_path(hour)
      %td= link_to 'Destroy', hour, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Hour', new_hour_path
