%tr
  %td= link_to 'Show', course_path(course)
  %td= link_to 'Edit', edit_course_path(course)
  %td= course.name
  %td= course.date
  %td= link_to 'Meetup', course.url
  %td= course.location
  %td
    %table
      - course.teaching_assistants.each do |ta|
        %tr
          %td= ta.name
          %td= link_to 'Remove', hour_path(course.hour_for(ta)), method: :delete
          %td= link_to 'Show', teaching_assistant_path(ta)
  %td= course.num_tas_needed
  %td= course.teaching_assistants.count


