%table
  %tr
    %th
    %th Date & Time
    %th Name & Location
    %th Credit
    %th Meetup

    = render partial: 'shared/course_row', locals: { course: course }
%br
%table
  %tr
    %th TAs
    %th Teaching Assistants
  %tr
    %td
      %b Needed:
      = course.num_tas_needed
      %br
      %br
      - if course.need_tas?
        %span.badge.alert
          = course.num_tas_still_needed
          still needed!
      - else
        %span.badge.approved= icon_check + ' OK!'
    %td= render partial: 'shared/ta_table', locals: { course: course }
