%h1 Organizer Dashboard

- if notice
  %p#notice= notice

%h2#monthly_emails_header
  %a{:href => "#"}
    %span#monthly_emails_icon
      = icon_toggle_right
    Monthly course emails

#monthly_emails
  .card
    %p
      This will email all Teaching Assistants! Use with caution.

    = button_to 'Send monthly sign up email', { controller: :emails, action: :monthly }, method: :get


- if TeachingAssistant.prospective.any?
  %h2#prospective_tas_header
    %a{:href => "#"}
    %span#prospective_tas_icon
      = icon_toggle_right
    Prospective TAs

  #prospective_tas
    .card
      %p Approving an application will email the TA.

      %table.table-minimal
        %tr
          %th Name
          %th Email
          %th Approve
        - TeachingAssistant.prospective.each do |ta|
          %tr
            %td= ta.name
            %td= ta.email
            %td= link_to icon_thumbs_up + ' Upgrade to Pending', { controller: :emails, action: :welcome, emails: { teaching_assistant: ta } }




%h2
  = icon_toggle_down
  Upcoming courses

- @courses.each do |course|
  = render partial: 'refills/course_card/admin', locals: { course: course }


