%h3 Organizer Dashboard

%p#notice= notice

- if TeachingAssistant.prospective.any?
  #error_explanation
    %p
      %b You have new TA applications!
      = link_to 'Click here to review them.', '#tas'

%ul.inline
  %li.first Quick links:
  %li= link_to 'Upcoming single day workshops', '#single_day'
  %li= link_to 'Upcoming multi-day workshops', '#multi_day'
  %li= link_to 'TAs application review', '#tas'

.line__secondary

%h4 Upcoming Single Day Workshops

- @courses.each do |course|
  = render partial: "admins/course", locals: { course: course }

.clear

.line__secondary
%h4 Upcoming Multi-Day Workshops

- @series.each do |series|
  %article.multi_day
    %h5
      = series.name
      = link_to icon_edit, edit_series_path(series)
    - course = series.courses.first
    %ul.inline
      %li.first More information:
      %li= link_to 'Meetup', course.url
      %li= link_to 'Description', series_path(series)
    %ul.inline
      %li.first Location:
      %li= course.location
    - series.courses.sort_by(&:date).each do |course|
      .line_skinny__secondary
      .pure-g
        .pure-u-1-2
          %h6.no_padding.no_margin
            = course.pretty_date
            = link_to icon_edit, edit_course_path(course)
          %p= course.pretty_time
          %ul.inline
            %li.first TA minimum:
            %li
              = course.num_tas_needed
              - if course.need_tas?
                %span.badge.alert.left_margin
                  = course.num_tas_still_needed
                  still needed!
              - else
                %span.badge.approved.left_margin= icon_check + ' OK!'
          %ul.inline
            %li.first Credit hours:
            %li= course.credit_hours
          %ul.inline
            %li.first More information:
            %li= link_to 'Course session info', course_path(course)
        .pure-u-1-2
          %b.text_secondary Teaching Assistants
          = render partial: 'ta_list', locals: { course: course }

.line__secondary

%h4 Teaching Assistant application review

- if TeachingAssistant.prospective.any?
  #error_explanation
    %p
      %b New TA applications to review!
  %ul
    - TeachingAssistant.prospective.each do |ta|
      %li
        = ta.name
        = link_to icon_link_out, teaching_assistant_path(ta), title: "View profile"
        = link_to icon_thumbs_up, teaching_assistant_path(ta.id, teaching_assistant: {status_id: @pending.id}), method: :put, title: "Upgrade status to pending"

- else
  %p You have no TA applications to review.
