%h3 Organizer Dashboard

- if notice
  %p#notice= notice

%h4 Monthly course emails

= button_to 'Send monthly sign up email', { controller: :emails, action: :monthly }

%h4 Prospective TAs

- if TeachingAssistant.prospective.any?
  %p Approving an application will email the TA.

  %table.table-minimal
    %tr
      %th Name
      %th Email
      %th Approve
    - TeachingAssistant.prospective.each do |ta|
      %tr
        %td= ta.name
        %td= ta.email
        %td= link_to icon_thumbs_up + ' Upgrade to Pending', { controller: :emails, action: :welcome, emails: { teaching_assistant: ta } }

- else
  %p You have no applications to approve.



%h4 Upcoming courses

.cards
  .cards-large
    - @courses.each do |course|
      = render partial: 'refills/course_card/admin', locals: { course: course }


