%h1 Hello, #{@teaching_assistant.name}!

%p#notice= notice

%p
  Your balance of teaching assistant hours is:
  = @teaching_assistant.balance || 0

%h2 Upcoming Series Workshops

%p To sign up to TA a multiple day workshop, you need to RSVP for each day you plan to attend.

= render partial: 'shared/series_list', locals: {series: @series, teaching_assistant: @teaching_assistant}

%h2 Upcoming Single Day Courses

%table
  = render partial: 'shared/course_list_header'
  - @courses.each do |course|
    = render partial: 'shared/course_list', locals: {course: course, teaching_assistant: @teaching_assistant}

%h2 TA History

%table
  %tr
    %th Hours
    %th Course Name
    %th Date
    %th Meetup

  - @teaching_assistant.history.each do |hour|
    %tr
      %td= hour.num
      %td= hour.course.name
      %td= hour.course.date
      %td= link_to 'Meetup', hour.course.url
