%h3 Hello, #{@teaching_assistant.name}!

%p
  This is your secret sign up page. Only you (and the GDI Organizers) have access to this URL (unless you share it with someone else, but that's kind of silly and defeats the purpose of having a secret sign up page, now doesn't it?).

%p
  You can sign up to TA new classes below, or change your RSVP for classes you already signed up to TA.

%p
  %b To use your credit hours:
  Email <a href="mailto:liza@girldevelopit.com">Liz</a> and she will get you signed up in Meetup. That's unfortunately still a manual process.

%h4 Things you're going to


- if @teaching_assistant.schedule.any?
  .cards
    - @teaching_assistant.schedule.each do |course|
      = render partial: 'refills/course_card/ta', locals: { course: course, teaching_assistant: @teaching_assistant }
- else
  %p Looks like you're not signed up for anything right now.


%h4 Sign up for more stuff!

- if @courses.any?
  .cards
    - @courses.each do |course|
      = render partial: 'refills/course_card/ta', locals: { course: course, teaching_assistant: @teaching_assistant }
- else
  %p There aren't anymore classes to sign up for right now. Check back later!


- if @teaching_assistant.inactive?
  %h4 Re-activate me!

  %p Welcome back!

  %h5
    = button_to 'Mark me as active', { controller: :teaching_assistants, action: :update, id: @teaching_assistant, teaching_assistant: { status_id: @pending.id } }, method: :put
- else
  %h4 Remove me

  %p We're sad to see you go!

  %p
    %b Important note:
    Removing yourself will mark you as inactive in our system. Your history and contact details will still exist in our TA database, but you will no longer receive emails.

  %p You can reactivate your account later if you want to. Just visit this page again!

  = button_to "Mark me as inactive", { controller: :teaching_assistants, action: :update, id: @teaching_assistant, teaching_assistant: { status_id: @inactive.id } }, method: :put, class: 'light-red'