%tr
  %td= link_to 'View', course_path(course)
  %td= course.name
  %td= course.date
  %td= link_to 'Meetup', course.url
  %td= course.location
  %td= course.num_tas_needed
  %td= teaching_assistant.signed_up_for(course)
  - if course.hour_for(@teaching_assistant)
    %td= render partial: 'hours/edit', locals: {teaching_assistant: teaching_assistant, course: course, hour: course.hour_for(@teaching_assistant)}
  - else
    %td= render partial: 'hours/form', locals: {teaching_assistant: teaching_assistant, course: course}