%ul
  %li.first GDI Chicago
  %li= link_to 'Dashboard', admins_dashboard_path
  %li= link_to 'Attendance management', hours_path
  %li= icon_vertical_stack
  %li= link_to 'TA list', teaching_assistants_path
  %li= link_to 'Series list', series_index_path
  %li= link_to 'Course list', courses_path
  %li= icon_add
  %li= link_to 'New series', new_series_path
  %li= link_to 'New course', new_course_path
  %li= link_to 'New TA', new_teaching_assistant_path
