%table
  %tr
    - if is_admin?
      %th.center=icon_delete
    %th.center Hours
    %th Date
    %th Course
    - if is_admin?
      %th Show
    %th Meetup
    - if is_admin?
      %th Series

  - teaching_assistant.history.each do |hour|
    %tr{class: hour.is_debit?}
      - if is_admin?
        %td.center
          = link_to icon_delete, { controller: :hours, action: :destroy, id: hour.id }, method: :delete, title: "Remove TA from course (will also remove hours from credit balance)"
      %td.center
        = hour.num
        - if hour.is_credit? && is_admin?
          = link_to icon_book, { controller: :hours, action: :update, id: hour.id, hour: { num: -hour.num } }, method: :put, title: "Change TA to student"
        - elsif is_admin?
          = link_to icon_history, { controller: :hours, action: :update, id: hour.id, hour: { num: hour.course.credit_hours } }, method: :put, title: "Change student to TA"
      %td= hour.course.pretty_date_short
      %td= hour.course.name
      - if is_admin?
        %td= link_to icon_link_out, course_path(hour.course)
      %td= link_to icon_link_out, hour.course.url
      - if is_admin?
        %td
          - if hour.course.is_series?
            = link_to icon_link_out, series_path(hour.course.series)
