.card
  .column_large
    %h3= course.pretty_date
    %h4= course.name

    %p
      = course.location
      from
      = course.pretty_time

    %a{:href => "#{course.url}"}
      View on Meetup
      = icon_link_out

    %p
      Credit hours:
      = course.credit_hours

  .column_small
    %h5
      TAs:
      = course.num_tas

    - if course.need_tas?
      %h5
        Need
        = course.num_tas_still_needed
        more

    %br/

    %p
      %b
        = link_to 'View TA List', course_ta_list_path(course), remote: true, class: 'button'
      %button
        Add TA to course

    - if course.can_email?
      %button
        Send confirmation email
    - else
      %strong
        Email sent.
      %br/
      %button.button__small
        Remove flag

