.card
  = render partial: 'refills/course_card/header', locals: { course: course }

  .card-copy
    - if course.series
      %h6
        = link_to icon_link_out + ' View series: ' + course.series.name, series_path(course.series)
    = button_to 'Edit course', { controller: :courses, action: :edit, id: course.id, course: { course: course } }, method: :get, class: 'right'
    = button_to 'Add TA', { controller: :hours, action: :new }, method: :get, class: 'inline right'
    %h5= course.name
    %br
    - if course.email_sent
      .right
        %b Email confirmation sent.
        %br
        Problem?
        = link_to 'Undo flag.', { controller: :courses, action: :update, id: course.id, course: { email_sent: false } }, method: :put
    - elsif course.can_email?
      = button_to 'Send confirmation email!', { controller: :emails, action: :confirmation }, method: :get, params: { course_id: course.id },  class: 'right light-red'
    - else
      %b Email confirmation disabled.
      %br
      Check back 10 days before the class.
    %p
      = course.location
      %br
      = course.pretty_time
    %p
      = link_to icon_book + ' Course details', course_path(course)
    = render partial: 'refills/ta_list', locals: { tas: course.teaching_assistants, course: course }
    %br

  = render partial: 'refills/course_card/stats', locals: { course: course }