.card
  = render partial: 'refills/course_card/header', locals: { course: course }

  .card-copy
    - if course.series
      %h6
        = link_to icon_link_out + ' View series: ' + course.series.name, series_path(course.series)
    %h5= course.name
    %br
    %p
      = course.location
      %br
      = course.pretty_time
    - if teaching_assistant.is_ta_for?(course)
      = button_to 'Change RSVP to No', { controller: :hours, action: :destroy, id: course.hour_for(teaching_assistant), hour: { } }, method: :post, class: 'light-red'
    - else
      = button_to "RSVP Yes! I'll be there!", { controller: :hours, action: :create, hour: { course_id: course.id, teaching_assistant_id: teaching_assistant.id } }, method: :post

  = render partial: 'refills/course_card/stats', locals: { course: course }