%h3 All Upcoming Courses

.line__secondary

%h4 Single Day Workshops

%table
  %tr
    %th
    %th Name & Location
    %th Date & Time
    %th Credit
    %th Meetup

  - @courses.each do |course|
    %tr
      %td
        = link_to icon_link_out + ' view', course_path(course), class: 'badge default'
      %td
        %b= course.name
        %br
        = course.location
      %td
        = course.pretty_date_short
        %br
        = course.pretty_time
      %td= course.credit_hours
      %td= link_to icon_link_out, course.url

.line__secondary

%h4 Multi-Day Workshops

- @series.each do | series|

  %h5= series.name

  %table
    %tr
      %th
      %th Name & Location
      %th Date & Time
      %th Credit
      %th Meetup

    - series.courses.each do |course|
      %tr
        %td
          = link_to icon_link_out + ' view', course_path(course), class: 'badge default'
        %td
          %b= course.name
          %br
          = course.location
        %td
          = course.pretty_date_short
          %br
          = course.pretty_time
        %td= course.credit_hours
        %td= link_to icon_link_out, course.url