%p#notice= notice

%p
  %b Name:
  = link_to @course.name, @course.url
%p
  %b Date:
  = @course.date
%p
  %b Location:
  = @course.location

%p
  %b Teaching assistants:
  %table
    %tr
      %th Name
      %th Email
    - @course.teaching_assistants.each do |ta|
      %tr
        %td= ta.name
        %td= ta.email

%p
  %b Description:
  = raw @course.description

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
