%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Date:
  = @course.date
%p
  %b Url:
  = @course.url
%p
  %b Location:
  = @course.location
%p
  %b Description:
  = raw @course.description

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
