<h2>Upcoming Courses</h2>

{{#each course in controller}}
  <div class="card">
    <div class="column_large">
      <h3>{{ course.pretty_date }}</h3>
      <h4>{{ course.name }}</h4>

      <p>
        {{ course.location }}
        from
        {{ course.pretty_time }}
      </p>

      <a {{ bind-attr href=course.url }}>
        View on Meetup <i class="fa fa-external-link"></i>
      </a>

      <p>Credit hours: {{ course.credit_hours }}</p>
    </div>

    <div class="column_small">
      <h5>TAs: {{ course.numTas }} </h5>

      {{#if course.needMoreTas}}
        <h5>Need: {{ course.num_tas_still_needed }} more</h5>
      {{/if}}

      <br>

      <p>
        <button>View TA list</button>
        <button>Add TA</button>
      </p>

      {{#if course.email_sent }}
        <strong>Email sent.</strong>
        <button class="button__small">Remove flag</button>
      {{/if }}

      {{#if course.can_email }}
        <button>Send confirmation email</button>
      {{/if}}
    </div>
  </div>
{{/each}}

