.card
  - if course.series
    .ribbon-wrapper
      .ribbon
        Series
  .card-image
  .card-header
    = course.pretty_date
  .card-copy
    - if course.series
      %h6
        = link_to icon_link_out + ' View series: ' + course.series.name, series_path(course.series)
    %h5= course.name
    %br
    %p
      = course.location
      %br
      = course.pretty_time
    - if is_admin?
      %h6= link_to icon_add + ' Add TA', new_hour_path
    - if ta_list
      = render partial: 'refills/ta_list', locals: { tas: course.teaching_assistants, course: course }
  .card-stats
    %ul
      %li
        = course.credit_hours
        %span Credit hours
      %li
        = course.num_tas_needed
        %span TAs required
      %li
        = course.num_tas_still_needed
        %span Still need
      - if is_admin?
        %li
          = link_to icon_edit, edit_course_path(course)
          %span Edit course
        %li
          = link_to icon_link_out, course_path(course)
          %span View details