%h3 Teaching Assistants

%p To view hour balances and history, view the individual TA.

%table.table-minimal
  %tr
    %th Name
    %th Profile
    %th Private
    %th Change status
    %th Ban
  - @teaching_assistants.each do |teaching_assistant|
    %tr{class: teaching_assistant.status.label }
      %td= teaching_assistant.name
      %td= link_to icon_link_out + ' View', teaching_assistant
      %td= link_to icon_link_out + ' View', sign_ups_path(teaching_assistant.private_id)
      - if teaching_assistant.approved?
        %td= link_to icon_thumbs_down + ' Down', { controller: :teaching_assistants, action: :update, id: teaching_assistant.id, teaching_assistant: { status_id: @pending.id } }, method: :put
      - elsif teaching_assistant.prospective?
        %td= link_to icon_thumbs_up + ' Up', { controller: :teaching_assistants, action: :update, id: teaching_assistant.id, teaching_assistant: { status_id: @pending.id } }, method: :put
      - else
        %td= link_to icon_thumbs_up + ' Up', { controller: :teaching_assistants, action: :update, id: teaching_assistant.id, teaching_assistant: { status_id: @approved.id } }, method: :put
      %td= link_to icon_delete + ' Ban', { controller: :teaching_assistants, action: :update, id: teaching_assistant.id, teaching_assistant: { status_id: @banned.id } }, method: :put

