%h1 Listing teaching_assistants

%h2 Approved

%table
  %tr
    %th Name
    %th Email
    %th

  - TeachingAssistant.approved.each do |teaching_assistant|
    %tr
      %td= teaching_assistant.name
      %td= teaching_assistant.email
      %td= link_to 'Show', teaching_assistant

%br

%h2 Pending

%table
  %tr
    %th Name
    %th Email
    %th

  - TeachingAssistant.approved.each do |teaching_assistant|
    %tr
      %td= teaching_assistant.name
      %td= teaching_assistant.email
      %td= link_to 'Show', teaching_assistant

%br
