%h3= @teaching_assistant.name

%span.badge{class: @teaching_assistant.status.label}
  = @teaching_assistant.status.label
= render partial: 'action_badge', locals: { teaching_assistant: @teaching_assistant }

.line__secondary

%p
  %b Credit hour balance:
  = @teaching_assistant.balance
%p
  %b History:
  %table
    %tr
      %th Hours
      %th Course Name
      %th Date
      %th Meetup

    - @teaching_assistant.hours.each do |hour|
      %tr
        %td= hour.num
        %td= hour.course.name
        %td= hour.course.date
        %td= link_to 'Meetup', hour.course.url


= link_to 'Back', teaching_assistants_path
