%p#notice= notice

%p
  %b Name:
  = @teaching_assistant.name
%p
  %b Sign up:
  = link_to "Private sign up page", sign_ups_path(@teaching_assistant.private_id)
%p
  %b Email:
  = @teaching_assistant.email
%p
  %b Status:
  = @teaching_assistant.status.label
%p
  %b Balance:
  = @teaching_assistant.balance
%p
  %b History:
  %table
    %tr
      %th Hours
      %th Course Name
      %th Date
      %th Meetup

    - @teaching_assistant.hours.each do |hour|
      %tr
        %td= hour.num
        %td= hour.course.name
        %td= hour.course.date
        %td= link_to 'Meetup', hour.course.url


= link_to 'Back', teaching_assistants_path
