.cards
  .cards-large
    .card
      .card-image
      .card-header
        %h3= @teaching_assistant.name
      .card-copy
        %ul.auto_rows__6
          %li.block
            = @teaching_assistant.status.label.capitalize
          %li.block
            = link_to icon_email + ' Email', @teaching_assistant.email, class: 'badge default side_margin'
          %li.block
            = link_to icon_link_out + ' Profile', @teaching_assistant, class: 'badge default right_margin'
          %li.block
            = link_to icon_link_out + ' Sign ups', sign_ups_path(@teaching_assistant.private_id), class: 'badge default right_margin'
          %li.block
            - if @teaching_assistant.approved?
              = link_to icon_thumbs_down + ' Downgrade', { controller: :teaching_assistants, action: :update, id: @teaching_assistant.id, teaching_assistant: { status: @pending } }, method: :put, title: "Change student to TA", class: "badge warning right_margin"
            - else
              = link_to icon_thumbs_up + ' Upgrade', { controller: :teaching_assistants, action: :update, id: @teaching_assistant.id, teaching_assistant: { status: @approved } }, method: :put, title: "Change student to TA", class: "badge approved right_margin"
          %li.block
            = link_to icon_delete + ' Ban', { controller: :teaching_assistants, action: :update, id: @teaching_assistant.id, teaching_assistant: { status_id: @banned.id } }, method: :put, class: 'badge warning right_margin'

      .card-stats
        %ul
          %li
            = @teaching_assistant.balance
            %span Current balance
          %li
            = @teaching_assistant.pending_balance
            %span Pending balance

%h4 Schedule
.cards
  - @teaching_assistant.schedule.each do |course|
    = render partial: 'refills/course_card/ta', locals: { course: course, teaching_assistant: @teaching_assistant }

%h4 History

.cards
  - @teaching_assistant.history.each do |hour|
    = render partial: 'refills/hour_card', locals: { hour: hour }
