!!!
%html
  %head
    %title Girl Develop It TAMS (Teaching Assistant Management System)
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', media: 'all'

  %body
    - if ENV['STAGING']
      #footer
        %h3 STAGING ENVIRONMENT ENABLED
    #container
      #content
        #header
          %h1 GDI Chicago Volunteering
          - if @title
            %h2= @title
        #nav
          %ul
            %li
              = icon_add
            %li
              %a{href: ""} Course
            %li
              %a{href: ""} Series
            %li
              %a{href: ""} TA
        #main
          = yield
